<!-- Page Content -->
<div class="container page-top">



    <div class="row">


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/chimie/chimiegenerale.jpg" class="zoom img-fluid "  alt="">


        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/physique/physiquequantique.jpg" class="zoom img-fluid"  alt="">

        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/livres-bibliotheque-salon-livre-montreal-2019.webp" class="zoom img-fluid "  alt="">

        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/livres-illustration_6033492.jpg" class="zoom img-fluid "  alt="">

        </div>

         <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/livres-Maroc.jpg" class="zoom img-fluid "  alt="">

        </div>

         <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/livres_quebec.jpg" class="zoom img-fluid "  alt="">

        </div>

         <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/QUIZ_Etes-vous-un-amoureux-des-livres-_174.pjpeg" class="zoom img-fluid "  alt="">

        </div>

         <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/52-livres-olivier-roland.jpg" class="zoom img-fluid "  alt="">

        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/image1.jpg" class="zoom img-fluid "  alt="">

        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/imagedefond.jpg" class="zoom img-fluid "  alt="">

        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/image2.png" class="zoom img-fluid "  alt="">

        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="../../assets/image4.jpg" class="zoom img-fluid "  alt="">

        </div>




   </div>

